.block-publications {
  background: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;   /* fills resized parent */
  box-sizing: border-box;

}
.block-publications h2 {
  margin-bottom: 10px;
}
.block-publications ul {
  list-style: disc;
  padding-left: 20px;
}
